$blue: #4078c0;

html,
body {
    background: transparent;

    font-family: 'Raleway', sans-serif;
    margin: 0;
    overflow: hidden;

    h1 { 
        color: black;
    } 

}
   
.coming-soon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100%; 
    
    .message {
        display: flex;
        flex: 1;
        /*background: $blue;*/
        display: block;
        box-sizing: border-box;
        text-align: center;
    }

    a {
        text-decoration:none;
        color:$blue;
        display:block;
        margin: 10px;
    }
}

.arrow-anchor {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    position: fixed;
    opacity: .6;
    &.left { left: 0; }
    &.right { right: 0; }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
